@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

/* GENERAL */
* {
	color: white;
	font-family: "Roboto Condensed", sans-serif;
	margin: 0;
	padding: 0;
}

html {
	background-image: url("red_nebula.jpg");
	background-size: cover;
}

body {
	padding: 2% 16%;
}

main {
	margin-left: 17.7%;
	padding: 10px 10%;
	padding-bottom: 40px;

	background-color: rgba(50, 50, 50, 0.95);
}

h1 {
	font-size: 300%;
}

h2 {
	font-size: 200%;
}

h3 {
	font-size: 150%;
}

h4 {
	font-size: 120%;
}

h1, h2, h3, h4, p {
	margin: 9px 0;
}

header{
	display: flex;
	align-items: flex-end;
}

header h2, header h3 {
	color: rgb(160, 160, 160);
	margin: 12px;
}

/* - Structures */

ul {
	list-style-type: none;
}

.ul-dot {
	list-style-type: circle;
	list-style-position: inside;
}

ul li{
	padding-bottom: 12px;
}

label {
	margin-right: 20px;
	font-size: 100%;
}

input, select, textarea {
	margin-bottom: 8px;
	font-size: 100%;
}

table {
	text-align: left;
}

th {
	font-size: 150%;
	background-color: rgb(250, 80, 80);
}

th, td {
	vertical-align: center;
	padding: 4px 4px;
}

tr:nth-child(even) {
	background-color: rgba(255, 255, 255, 0.1);
}

/* - Interactables */

a {
	color: lightpink;
	text-decoration: none;
	font-weight: bold;
}

a:hover {
	color: white;
}

input, select, textarea {
	border-style: solid;
	border-color: rgb(10, 10, 10);
	background-color: rgb(30, 30, 30);
}

input:hover, select:hover, textarea:hover {
	background-color: rgb(80, 80, 80);
}

input:focus, select:focus, textarea:focus {
	background-color: rgb(60, 60, 60);
}

/* Hide the spin buttons in WebKit browsers */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Hide spin buttons in Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

/* CLASSES */

.link-button a {
	display: block;
}

.link-button a, input[type=button], input[type=reset]{
	background-color: rgb(30, 30, 30);
	border: none;
	padding: 12px 18px;
	text-align: left;
}

.link-button a:hover, input[type=button]:hover, input[type=reset]:hover{
	background-color: rgb(250, 80, 80);
}

.grid-container {
    display: grid;
    gap: 6px;
}

/* - Navigation */

nav {
	position: fixed;
	width: 12.06%;
	
	z-index: 1;

	background-color: rgba(30, 30, 30, 0.95);

	font-size: 120%;
}

nav ul {
	overflow: hidden;
}

nav p {
	display: block;
	padding: 12px 18px;
	margin: 2px 0;
	color: grey;
}

nav img {
	margin: 18px 18px;
}

nav img:hover {
	opacity: 0.8;
}

nav .dropdown-content {
	display: none;
	z-index: 2;
	
	position: absolute;
	left: 100%;
	
	min-width: 200px;

	background-color: rgb(30, 30, 30);
}

nav .dropdown-content a {
	display: block;
	text-align: left;
}

nav .dropdown:hover .dropdown-content {
  display: block;
}

/* - Misc */

.div-pad {
	padding: 16px 20px;
	background-color:rgb(75, 75, 85);
}

.input-button {
	margin-right: 6px;
	padding: 6px 24px;
}