@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

/* GENERAL */
html {
	font-family: "Roboto Condensed", sans-serif;
}

body {
	background-color: rgb(250, 80, 80);
}

* {
	color: white;
}

h1 {
	font-size: 48px;
	padding: 9px 0;
	margin: 0;
}

h2 {
	font-size: 32px;
	padding: 12px 0;
	margin: 0;
}

/* - Structures */

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

ul li{
	padding-bottom: 12px;
}

table {
	text-align: left;
}

th, td {
	padding-right: 24px;
	padding-bottom: 12px;
	vertical-align: top;
}

/* - Interactables */

a {
	color: lightpink;
	text-decoration: none;
	font-weight: bold;
}

a:hover {
	color: white;
}

input {
	border-style: solid;
	border-color: rgb(10, 10, 10);
	background-color: rgb(30, 30, 30);
}

input:hover {
	background-color: rgb(80, 80, 80);
}

input:focus {
	background-color: rgb(60, 60, 60);
}

/* CLASSES */

.container {
	margin: 2% 12%;
	background-color: rgb(30, 30, 30);
}

.main {
	margin-left: 16%;
	padding: 10px 5%;
	padding-bottom: 40px;

	background-color: rgb(50, 50, 50);
}

/* - Navigation */

.nav {
	position: fixed;
	width: 12.06%;
	
	z-index: 1;

	background-color: rgb(30, 30, 30);
}

.nav ul {
	overflow: hidden;
}

.nav a, .nav p {
	display: block;
	font-size: 20px;
	padding: 12px 18px;
}

.nav p {
	margin: 2px 0;
}

.nav a:hover {
	background: rgb(250, 80, 80);
}

.nav img {
	padding: 18px 0 0 18px;
}

.nav-dropdown-content {
	display: none;
	z-index: 2;
	
	position: absolute;
	left: 100%;
	
	min-width: 200px;

	background-color: rgb(30, 30, 30);
}

.nav-dropdown-content a {
	display: block;
	text-align: left;
}

.nav-dropdown:hover .nav-dropdown-content {
  display: block;
}

/* - Misc */

.div-pad {
	padding: 16px 20px;
}

.input-button {
	margin-right: 6px;
	padding: 6px 24px;
}